* {
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(43, 53, 107);
  color: rgb(103, 176, 236);
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 650px;
  background: black;
}

h1 {
  margin-bottom: 0px;
  font-family: "Rokkitt", serif;
}

.squares {
  box-sizing: border-box;
}

.buttons {
  background: rgb(30, 37, 77);
  padding: 16px;
  margin: 16px;
  border-radius: 16px;
}

button {
  color: rgb(103, 176, 236);
  background: rgb(43, 53, 107);
  border: none;
  font-size: 16px;
  padding: 8px;
  border-radius: 8px;
  width: 120px;
  margin: 0 8px;
}

button:hover {
  background: rgb(103, 176, 236);
  color: rgb(43, 53, 107);
}

footer {
  margin-top: 64px;
}

a {
  color: rgb(103, 176, 236);
  text-decoration: none;
}

a:hover {
  color: white;
}
